In [2]:
import requests
import numpy as np
import pandas as pd

def get_data(table_id,variables):
    base = 'https://api.statbank.dk/v1/data/{id}/JSONSTAT?lang=en'.format(id = table_id)
    
    for var in variables:
        base += '&{v}'.format(v = var) 

    response=requests.get(base)
    data_json=response.json()
    return data_json

In [3]:
data5=get_data('RAS310',['Tid=*','OMRÅDE=085']) # Sjælland
data4=get_data('RAS310',['OMRÅDE=084','Tid=*']) # Hovedstaden
data3=get_data('RAS310',['Tid=*','OMRÅDE=083']) # Syddanmark
data2=get_data('RAS310',['Tid=*','OMRÅDE=082']) # Midtjylland
data1=get_data('RAS310',['Tid=*','OMRÅDE=081']) # Nordjylland

indexlabels=['2008','2009','2010','2011','2012','2013','2014','2015','2016']

df1=pd.DataFrame(data1['dataset']['value'],index=indexlabels,columns=['Region Nordjylland'])
df2=pd.DataFrame(data2['dataset']['value'],index=indexlabels,columns=['Region Midtjylland'])
df3=pd.DataFrame(data3['dataset']['value'],index=indexlabels,columns=['Region Syddanmark'])
df4=pd.DataFrame(data4['dataset']['value'],index=indexlabels,columns=['Region Hovedstaden'])
df5=pd.DataFrame(data5['dataset']['value'],index=indexlabels,columns=['Region Syddanmark'])

dfs=[df1,df2,df3,df4,df5]
df=pd.concat(dfs,axis=1)
df=df.reindex(index=df.index[::-1]) # Reversing row index
df

,Region Nordjylland,Region Midtjylland,Region Syddanmark,Region Hovedstaden,Region Syddanmark
2016,278996,644309,573618,915226,392924
2015,274903,633282,565548,898268,387408
2014,272306,626017,560952,878625,381940
2013,271633,619522,557270,866553,378970
2012,272969,618537,557154,856717,379463
2011,275008,622141,563343,852815,385111
2010,276464,623432,568845,846676,389125
2009,278104,626509,577055,848342,395714
2008,293903,656669,608313,870937,414992